---
import { cva } from "cva";
import { twMerge } from "tailwind-merge";
import type { VariantProps } from "cva";
import type { HTMLAttributes } from "astro/types";

const checkBox = cva([], {
    variants: {
        intent: {
            login: [
                "[&+label]:text-sm [&+label]:text-nowrap [&+label]:opacity-60"
            ]
        }
    }
});

interface Props extends HTMLAttributes<"input">,
    VariantProps<typeof checkBox>{
        form: string;
        name: string;
        text: string;
        className?: string | string[];
    };
const { form, name, text, className = "", intent } = Astro.props;
---

<div><input type="checkbox" form={form} name={name} id={name} class={twMerge([checkBox({intent}), className])}/>
<label for={name}>{text}</label></div>