---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"input">{
    form: string;
    name: string;
    type: "email" | "password";
    label: "Email Address" | "Password";
};

const {form, name, type, label, placeholder = "", id, ...inputProps } = Astro.props;
---

<div class="container-login">
    <label for={id || name}>{label}</label>
    <input id={id || name} form={form} name={name} type={type} placeholder={placeholder}{...inputProps}/>
</div>

<style>
@tailwind base;
@tailwind components;
@tailwind utilities;

div.container-login{
    @apply
    h-16 py-1
    box-content
    border-WIgray-light border-1
    transition duration-200 ease-in;
}
div.container-login:has(input:not(:placeholder-shown):invalid){
    @apply border-l-red-600 border-l-4;
}
div.container-login:has(input:not(:placeholder-shown):valid){
    @apply border-l-WIblue-input border-l-4;
}
div.container-login:has(input:not(:placeholder-shown), input:focus) label{
    @apply
    text-sm text-opacity-60
    translate-y-0;
}

div.container-login *{
    @apply w-full h-1/2 pl-4 outline-none;
}
div.container-login label{
    @apply block
    text-WIblack
    cursor-pointer
    transition-all duration-200 ease-in-out
    translate-y-full;
}
</style>