---
interface Props{
    form: string;
    name: string;
    type: "email" | "password";
    label: "Email Address" | "Password";
};

const {form, name, type, label } = Astro.props;
---

<div class="w-full h-16 p-2 border-WIgrey border-1 flex flex-col-reverse
    transition-all duration-200 ease-in-out
    has-[:focus]:border-l-WIblue-input has-[:focus]:border-l-4">
    <input form={form} id={name} name={name} type={type} required
        class="text-WIblue font-semibold outline-none peer"
    />
    <label for={name}
        class="
            text-base text-WIblack
            transition-all duration-200 ease-in-out
            translate-y-full
            hover:cursor-text
            peer-focus:translate-y-0 peer-focus:text-sm peer-focus:text-opacity-60">
        {label}
    </label>
</div>