---
import LayoutMain from "@layouts/LayoutMain.astro";
import Link from "@components/Link.astro";
import InfoBox from "@components/InfoBox.astro";
import RadioGroup from "@components/inputs/RadioGroup.astro";
import TextBox from "@components/inputs/TextBox.astro";

const formName: Readonly<string> = "skills";
const groups: ReadonlyArray<string> = ["Excel", "Powe BI", "SQL"];
const radioButtons: ReadonlyArray<[string, string]> = [
    ["0", "0"],
    ["1", "1"],
    ["2", "2"],
    ["3", "3"],
    ["4", "4"],
    ["5", "5"]
];
---

<LayoutMain practitioner>
    <Link href="./data" text="Back" icon="heroicons:chevron-left-16-solid" iconLeft intent="navControl" className="my-6"/>
    <InfoBox className="min-w-[460px]" text="Finally, please mark the corresponding boxes on a scale from 0 to 5, where 0 indicates that you have no knowledge and 5 indicates that you are an expert in the subject."/>
    <h2 class="text-WIblack text-lg text-nowrap font-semibold mt-8 mb-4">Technical Skills</h2>
    <form name={formName} class="w-2/3 min-w-[460px] grid grid-cols-2 gap-y-4">
        {groups.map(group =>
            <Fragment>
                <InfoBox text={group} intent="label" size="small"/>
                <RadioGroup form={formName} group={group} buttons={radioButtons} required/>
            </Fragment>
        )}
        <InfoBox text="Others" intent="label" size="small"/>
        <TextBox name="others" type="text" placeholder="Notion - Figma - Python ..." className="self-end scale-x-105"/>
    </form>
    <Link href="owo" text="Finish" icon="heroicons:chevron-right-16-solid" iconRight intent="navControl" className="float-right my-6"/>
</LayoutMain>