---
import LoginLayout from "@layouts/LoginLayout.astro";
import Navmenu from "@components/Navmenu.astro";
import LoginInpt from "@components/inputs/LoginInpt.astro";
import CheckBox from "@components/inputs/CheckBox.astro";
import Link from "@components/Link.astro";
import Button from "@components/Button.astro";
import Modal from "@/components/Modal.astro";
import Loader from "@/components/Loader.astro";

const navPages: ReadonlyArray<[string, string]> = [
    ["Home", "/"],
    ["About us", ""],
    ["Blog", ""],
    ["Pricing", ""],
	["Enterprise", "enterprise"]
]

const formID: Readonly<string> = "login";
---

<LoginLayout title="WorkIn">
	<section>
		<Modal id="loading" intent="loading" size="md">
			<Loader type="bars-1" size={10} className="size-full m-auto"/>
		</Modal>
		<Navmenu mobile navPages={navPages}/>
		<h1>WorkIn<span>AI</span></h1>
		<h2>Artificial Intelligence <span>empowering</span></h2>
		<h2><span>your</span> Career Journey</h2>
		<small>Welcome back! Please <ins>login</ins> to your account.</small>
		<form id={formID}>
			<LoginInpt id="email" form={formID} name="email" title="Enter your email" type="email" label="Email Address" autocomplete="email" required/>
			<LoginInpt id="password" form={formID} name="password" title="Enter your password" type="password" label="Password" autocomplete="current-password" required/>
			<div class="mt-2 mb-10 ml-2 flex flex-wrap justify-between">
				<CheckBox id="rememberMe" name="rememberMe" form={formID} text="Remember Me" intent="login"/>
				<Link href="https://youtu.be/dQw4w9WgXcQ?si=S2f1ZH6iodUjWRr8" text="Forgot Password?" intent="forgetPW" aria-label="Forgotten password"/>
			</div>
			<div class="flex gap-x-4">
				<Button aria-label="Login" form={formID} type="submit" text="Login" intent="login" className="flex-none"/>
				<Button id="signup" aria-label="Sign up" type="button" text="Sign Up" intent="login" className="flex-none"/>
			</div>
		</form>
		<footer>
			<p>Or login with</p>
			<Link href="https://youtu.be/dQw4w9WgXcQ?si=S2f1ZH6iodUjWRr8" text="LinkedIn" aria-label="Login with LinkedIn"/>
			<Link href="https://youtu.be/dQw4w9WgXcQ?si=S2f1ZH6iodUjWRr8" text="Google"   aria-label="Login with Google"/>
		</footer>
	</section>
	<section>
		<Navmenu mobile={false} navPages={navPages}/>
	</section>
</LoginLayout>

<script>
	import { getDbCredential } from "@utils/projectMode";

	interface LoginData {
		email: string;
		password: string;
		role: string;
		rememberMe: boolean;
	};

	const modal = document.getElementById("loading") as HTMLDialogElement;
	modal.showModal();

	document.getElementById("login")?.addEventListener("submit", async e => {
		e.preventDefault();
		// Show loading modal
		const modal = document.getElementById("loading") as HTMLDialogElement;
		modal.showModal();

		// Send login request
		const form = e.target as HTMLFormElement;
		const formData = new FormData(form);
		formData.append("role", "practitioner");

		const rememberMe = document.getElementById("rememberMe") as HTMLInputElement;
		if(!rememberMe.checked) formData.append("rememberMe", "false");

		const data = Object.fromEntries(formData.entries() as any) as LoginData;

		const response: boolean = await (await fetch(`${getDbCredential()}/login`, {
			method: "POST",
			body: JSON.stringify(data)
		})).json() as boolean;

		if(response){
			window.location.href = "/practitioner";
		}else{
			// !TODO: Show error message
			// Show error message
			const email = document.getElementById("email") as HTMLInputElement;
			const password = document.getElementById("password") as HTMLInputElement;
		}
		form.reset();
		modal.close();
	});

	document.getElementById("signup")
		?.addEventListener("click", () =>
			window.location.href = "/practitioner/signin");
</script>