---
import LoginLayout from "@layouts/LoginLayout.astro";
import Navmenu from "@components/Navmenu.astro";
import LoginInpt from "@components/inputs/LoginInpt.astro";
import CheckBox from "@components/inputs/CheckBox.astro";
import Link from "@components/Link.astro";
import Button from "@components/Button.astro";
import Modal from "@/components/Modal.astro";
import Loader from "@/components/Loader.astro";

const navPages: ReadonlyArray<[string, string]> = [
    ["Home", "/"],
    ["About us", ""],
    ["Blog", ""],
    ["Pricing", ""],
	["Enterprise", "enterprise"]
]

const formID: Readonly<string> = "login";
---

<LoginLayout title="WorkIn">
	<section>
		<Modal id="loading" size="md">
			<Loader type="bars-1" size={10} className="size-full m-auto"/>
		</Modal>
		<Navmenu mobile navPages={navPages}/>
		<h1>WorkIn<span>AI</span></h1>
		<h2>Artificial Intelligence <span>empowering</span></h2>
		<h2><span>your</span> Career Journey</h2>
		<small>Welcome back! Please <ins>login</ins> to your account.</small>
		<form id={formID}>
			<LoginInpt id="email" name="email" title="Enter your email" type="email" label="Email Address" autocomplete="email" required/>
			<LoginInpt id="password" name="password" title="Enter your password" type="password" label="Password" autocomplete="current-password" required/>
			<div class="mt-2 mb-10 ml-2 flex flex-wrap justify-between">
				<CheckBox id="rememberMe" name="rememberMe" form={formID} text="Remember Me" intent="login"/>
				<Link href="https://youtu.be/dQw4w9WgXcQ?si=S2f1ZH6iodUjWRr8" text="Forgot Password?" intent="forgetPW" aria-label="Forgotten password"/>
			</div>
			<div class="flex gap-x-4">
				<Button aria-label="Login" type="submit" text="Login" intent="login" className="flex-none"/>
				<Button id="signup" aria-label="Sign up" type="button" text="Sign Up" intent="login" className="flex-none"/>
			</div>
		</form>
		<footer>
			<p>Or login with</p>
			<Link href="https://youtu.be/dQw4w9WgXcQ?si=S2f1ZH6iodUjWRr8" text="LinkedIn" aria-label="Login with LinkedIn"/>
			<Link href="https://youtu.be/dQw4w9WgXcQ?si=S2f1ZH6iodUjWRr8" text="Google"   aria-label="Login with Google"/>
		</footer>
	</section>
	<section>
		<Navmenu mobile={false} navPages={navPages}/>
	</section>
</LoginLayout>

<script>
	import ntlFunction from "@utils/ntlFunction";
	import { actions } from "astro:actions";
	const { getGreeting } = actions;

	interface LoginData {
		email: string;
		password: string;
		role: string;
		rememberMe: boolean;
	};

	document.getElementById("login")?.addEventListener("submit", async e => {
		e.preventDefault();

		// Show loading modal
		const modal = document.getElementById("loading") as HTMLDialogElement;
		modal.showModal();

		// Get form data
		const form = e.target as HTMLFormElement;
		const formData = new FormData(form);
		formData.append("role", "practitioner");

		const rememberMe = document.getElementById("rememberMe") as HTMLInputElement;
		if(!rememberMe.checked) formData.append("rememberMe", "false");

		const data = JSON.stringify(Object.fromEntries(formData.entries() as any) as LoginData);

		// Send login request
		const res: Response = await ntlFunction("login", "practitioner", "POST", data);
		if(res.ok){
			sessionStorage.setItem("session", data);
			// window.location.href = "/practitioner";
		}else{
			const errorMessage = await res.text();
			console.log("ERROR:", errorMessage);
			
			// !TODO: Show error message
			form.reset();
			alert("Invalid email or password");
		}
		modal.close();
	});

	document.getElementById("signup")
		?.addEventListener("click", async () =>
			{
				const res = await actions.getGreeting({ name: "John" });
				console.log(res);
			}
			// window.location.href = "/practitioner/signin"
			);
</script>