---
import { twMerge } from "tailwind-merge";
import type { HTMLAttributes } from "astro/types";
import type { ClassName } from "src/types/global";

interface Props extends HTMLAttributes<"div"> {
    id: string;
    company: string;
    className?: ClassName;
};

const { id, company, className, ...divProps } = Astro.props;
---

<div id={id} class={twMerge([className])} {...divProps}>
    <h1>Edit Profile</h1>
    <figure id={`figure-${id}`}>
        <img
            src="https://seeklogo.com/images/E/evil-corp-logo-E28698059C-seeklogo.com.png"
            alt="Profile picture"
        />
        <figcaption id={`caption-${id}`} set:text={company}/>
    </figure>
    <p>text</p>
    <p>text</p>
    <p>text</p>
    <p>text</p>
</div>

<style>
    div {
        background-color: #d9d9d9;
        color: #231f20;
        padding: 2rem;
        border-radius: 1.5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fill, minmax(1fr, 6.5rem));
        justify-items: center;
    }

    h1 {
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 600;
        text-wrap: nowrap;
    }

    figure {
        width: 4rem;
        height: 5rem;
    }

    img {
        width: 100%;
        height: 100%;
        margin: auto;
        object-fit: contain;
    }

    figcaption {
        font-size: 0.75rem;
        line-height: 1rem;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
</style>