---
import { Icon } from "astro-icon/components";
import { cva } from "cva";
import { twMerge } from "tailwind-merge";
import type { VariantProps } from "cva";
import type { HTMLAttributes } from "astro/types";
import type { IconProps, ClassName } from "src/types/global";

const link = cva([
        "text-WIblack",
        "size-fit",
        "flex flex-nowrap items-center",
        "[&_span]:text-nowrap",
        "[&_span]:relative",
        "[&_span]:before:bg-WIblack",
        "[&_span]:before:w-full [&_span]:before:h-[1.1px]",
        "[&_span]:before:absolute [&_span]:before:bottom-0 [&_span]:before:scale-x-0",
        "[&_span]:before:transition [&_span]:before:duration-200 [&_span]:before:ease-in",
        "[&_span]:before:hover:scale-x-100",
        "[&_svg]:transition [&_svg]:duration-200 [&_svg]:ease-in"
], {
    variants: {
        intent: {
            forgetPW: [
                "[&_span]:text-sm [&_span]:text-opacity-60",
                "[&_span]:before:bg-opacity-60"
            ],
            navBar: [
                "group",
                "gap-x-2",
                "[&_span]:text-sm",
                "[&_svg]:flex-none [&_svg]:hover:scale-110"
            ],
            navControl: [
                "[&_span]:font-semibold",
                "[&_svg]:size-5"
            ]
        }
    }
});

type Props =
    IconProps &
    HTMLAttributes<"a"> &
    VariantProps<typeof link> & {
        href: string;
        text: string;
        className?: ClassName;
        iconClass?: ClassName;
    }
const { href, text, icon, iconLeft, iconRight, intent, className, iconClass } = Astro.props;
---

<a href={href} class={twMerge([link({intent}), `${iconRight && "flex-row-reverse"}`, `${iconLeft && "flex-row"}`, className])}>
    {icon && <Icon name={icon} class={twMerge([iconClass])}/>}
    <span>{text}</span>
</a>